#article {
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-top: 15px;
}

#article button {
    width: 200px;
    margin-bottom: 15px;
    margin-right: 40px;
}

